/* colours */

:root {
  --navy: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --grey: #8d99ae;
  --white: #ffffff;

  --book: #9b5de5;
  --movie: #ee4266;
  --game: #ffd23f;
  --tag: #3bceac;
}

/* general page set up */

* {
  margin: 0;
  padding: 0; 
}

body {
  color: var(--navy);
  background-color: var(--navy);
  font: 16px/26px "Raleway", sans-serif; 
}

/* general form styling for every page */
.form-wrap {
  background-color: var(--white);
  width: 500px;
  margin: 3em auto;
}

.btn {
  background-color: var(--red);
  border: none;
  cursor: pointer;
  text-transform: uppercase; 
  color: var(--white);
}

.btn-input {
  padding: 10px;
}

input[type='radio'] {
  accent-color: var(--red);
}

input[type='radio']#searchPage {
  transform: scale(2);
  margin-left: 20px;
}

/* login and signup styling */

a {
  text-decoration: none; 
  color: var(--white);
  display: block;
  padding: 10px;
}

.header {
  background-color: grey;
  width: 100%;
  HEIGHT:5%;
  overflow: hidden;
}
      
.header a {
  float: right;
  color: white;
  text-align: center;
  background-color: grey;
  height:100%;
  width: 10%;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: lightgrey;
  color: black;
}

.header-title{
  float: left;
  color: #ffffff;
  text-align: center;
  background-color: grey;
  height:100%;
  width: 10%;
  text-decoration: none;
  font-size: 20px;
}

input {
  font: 16px/26px "Raleway", sans-serif; 
}

.form-wrap .tabs {
  overflow: hidden; 
}

.form-wrap .tabs h3 {
  float: left;
  width: 50%; 
}

.form-wrap .tabs h3 a {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 400;
  color: var(--navy);
  background-color: var(--grey);
  display: block;
}

.form-wrap .tabs h3 a.active {
  background-color: var(--white); 
}

.form-wrap .tabs-content {
  padding: 1.5em; 
}

.form-wrap .tabs-content div[id$="tab-content"] {
  display: none; 
}

.form-wrap .tabs-content .active {
  display: block !important; 
}

.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  border: 1px solid var(--navy);
  outline: 0;
  display: inline-block;
  margin: 0 0 .8em 0;
  padding-right: 2em;
  width: 100%; 
}

.form-wrap form .button {
  width: 100%;
  padding: .8em 0 10px .8em;
  background-color: var(--red);
  border: none;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase; 
}

.form-wrap form .button:hover {
  background-color: var(--orange); 
}

/* delete lists and logs, and media page styling */

.media-title {
  font-size: 50px;
  line-height: 80%;
}

.media-title-div {
  text-align: center;
  padding: 10px;
  margin-top: -5%;
}

/* media page styling only */

.media-body {
  color: var(--white);
}

.rcolumn{
  float:right;
  width:50%;
}

.lcolumn {
  float: left;
  width: 50%;
}

.center {
  text-align: center;
}

.comment-body {
  background-color: var(--grey);
  color : var(--navy);
  border-style: outset;
}

.media-box {
  margin: 20px 60px 20px 100px;
}

#tcolor a:link 
  {
    color :var(--white); 
  }
#tcolor a:visited 
  { 
    color: var(--tag); 
  }

/* search page and home page search styling */

.search-bar {
  width: 70%;
}

.row-of-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

/* tags */

table.center {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* search page styling */

.rev-search-buttons {
  flex-direction: row-reverse;
}

.search-box {
  color: var(--white);
  font: 15px "Raleway", sans-serif; 
  text-align: left;
  z-index: -1;
}

.search-buttons {
  display: flex;
  justify-content: space-around;
  padding: 5px 450px;
}


.search-header {
  text-align: center;
  color: var(--red);
  margin-top: 10px;
}

.search-header-label {
  font: 30px "Raleway", sans-serif;
}

.search-header-cats {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.search-header-in {
  padding-left: 18px;
}

/* tag system styling for the search and media pages */

.search-tag {
  border: none;
  color: var(--navy);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 1px;
  border-radius: 50%;
}

.book-tag {
  background-color: var(--book);
}

.movie-tag {
  background-color: var(--movie);
}

.game-tag {
  background-color: var(--game);
}

.other-tag {
  background-color: var(--tag);
}

/* home page and list view styling */

.welcome-label-div {
  width: 100%;
  margin-top: 3%;
  z-index: -1;
}

.welcome-label {
  color: var(--white);
  font: 70px/26px "Raleway", sans-serif; 
  text-align: left;
  padding: 2%;
  text-transform: uppercase;
  z-index: -1;
}

.description-label-div {
  width: 100%;
  margin-top: 4%;
  z-index: -1;
}
  
.description-label {
  color: var(--white);
  font: 20px "Raleway", sans-serif; 
  text-align: left;
  padding: 2%;
  z-index: -1;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  align-items: center;
}

.mpc-buttons {
  text-align: center;
}

.ll-box {
  padding: 10px;
}

/* styling for the generation of list, log, and search elements */

.instance {
  display: flex;
}

.instance-block {
  border: 1.5px solid var(--white);
  padding: 10px;
  margin: 1px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.in-name {
  width: 250px;  
}

.in-elem-name {
  width: 800px;
}

.in-rating {
  width: 20px;
}

.in-remarks {
  width: 500px;
}

.in-date {
  width: 150px;
}

.in-desc {
  width: 720px;
}

.in-username {
  width: 15%;
}

.in-user-name {
  width: 15%;
}

.in-user-bio {
  width: 48%;
}

.in-user-type {
  width: 10%;
}

.in-media-title {
  width: 25%;
}

.in-media-rating {
  width: 3%;
}

.in-media-desc {
  width: 50%;
}

.in-media-date {
  width: 10%;
}

.in-publisher {
  width: 93.5%;
}

.in-crew-name {
  width: 24.5%;
}

.in-crew-desc {
  width: 67%;
}

.in-button-hidden {
  width: 5%;
}

/* scroll styling */

.scroll { 
  width: 100%;
  overflow-y: scroll;  
  border: 1px solid var(--white);
}

.scroll-home {
  height: 160px;
}

.scroll-elem {
  height: 400px;
}

.scroll-search {
  height: 590px;
  width: 99%;
}

.scr {
  color: var(--white);
}
