:root {
  --navy: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --grey: #8d99ae;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0; 
}

a {
  text-decoration: none; 
}

input {
  font: 16px/26px "Raleway", sans-serif; 
}

body {
  color: var(--navy);
  background-color: var(--navy);
  font: 16px/26px "Raleway", sans-serif; 
}

.form-wrap {
  background-color: var(--white);
  width: 500px;
  margin: 3em auto;
}

.form-wrap .tabs {
  overflow: hidden; 
}

.form-wrap .tabs h3 {
  float: left;
  width: 50%; 
}

.form-wrap .tabs h3 a {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 400;
  color: var(--navy);
  background-color: var(--grey);
  display: block;
}

.form-wrap .tabs h3 a.active {
  background-color: var(--white); 
}

.form-wrap .tabs-content {
  padding: 1.5em; 
}

.form-wrap .tabs-content div[id$="tab-content"] {
  display: none; 
}

.form-wrap .tabs-content .active {
  display: block !important; 
}

.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  border: 1px solid var(--navy);
  outline: 0;
  display: inline-block;
  margin: 0 0 .8em 0;
  padding-right: 2em;
  width: 100%; 
}

.form-wrap form .button {
  width: 100%;
  padding: .8em 0 10px .8em;
  background-color: var(--red);
  border: none;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase; 
}

.form-wrap form .button:hover {
  background-color: var(--orange); 
}

.media-title {
  font-size: 50px;
  line-height: 80%;
}

.media-title-div {
  text-align: center;
  padding: 10px;
  margin-top: -5%;
}

.btn {
  padding: 10px;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  text-transform: uppercase; 
  color: var(--white);
}

.account-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.welcome-label-div {
  width: 100%;
  margin-top: 3%;
  z-index: -1;
}

.welcome-label {
  color: var(--white);
  font: 70px/26px "Raleway", sans-serif; 
  text-align: left;
  padding: 2%;
  text-transform: uppercase;
  z-index: -1;
}

.description-label-div {
  width: 100%;
  margin-top: 4%;
  z-index: -1;
}
  
.description-label {
  color: var(--white);
  font: 20px "Raleway", sans-serif; 
  text-align: left;
  padding: 2%;
  z-index: -1;
 }

.main-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  align-items: center;
}

.mpc-buttons {
  text-align: center;
}

.search-form {
  padding: 10px;
}

.ll-box {
  padding: 10px;
}

.scroll {
  height: 160px; 
  width: 100%;
  overflow-y: scroll;  
  border: 1px solid var(--white);
}

.scroll .elem {
  height: 400px;
}

.scr {
  color: var(--white);
}

.instance {
  display: flex;
}

.instance-block {
  border: 1.5px solid var(--white);
  padding: 10px;
  margin: 1px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.in-name {
  width: 250px;  
}

.in-rating {
  width: 20px;
}

.in-remarks {
  width: 500px;
}

.in-date {
  width: 150px;
}

.in-desc {
  width: 720px;
}

